<%= form_for @comment do |f| %>
  <div class="blog-detail">
    <div class="user-property">
      <%= f.text_area :content %>
    </div>
    <div class="user-property">
      <%= link_to 'Back', blog_path(@comment.blog_id), class: 'btn btn-outline-dark haba' %>
      <%= f.submit 'Update comment', class: "btn btn-primary haba" %>
      <%= link_to 'Destroy', comment_path(@comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger haba' %>
    </div>
  </div>
<% end %>
