<p id="notice"><%= notice %></p>

<div class="blog-detail">
  <div class="user-property">
    <strong>Name:</strong>
    <%= @blog.name %>
  </div>

  <div class="user-property">
    <strong>Article:</strong>
    <%= simple_format(@blog.article) %>
  </div>
  <h4> comments </h4>

  <%= form_for @comment, url: {controller: 'comment', action: 'create' } do |f| %>
    <div>
      <%= f.text_area :content %>
      <%= f.hidden_field :blog_id, :value => @blog.id %>
    </div>
    <div class="actions">
      <%= f.submit 'Post comment', class: "btn btn-primary" %>
    </div>
  <% end %>

  <% @blog.comments.each do |comment| %>
    <div>
      <%= comment.user.email %>
    </div>
    <div>
      <%= comment.content %>
    </div>
  <% end %>


</div>


<div class="move-btn">
  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-sm btn-outline-dark' %>
  <%= link_to 'Back', blogs_path, class: 'btn btn-sm btn-outline-dark' %>
</div>
