<p id="notice"><%= notice %></p>
<%# binding.pry %>

<div class="blog-detail">
  <div class="user-property">
    <strong>Name:</strong>
    <%= @blog.name %>
  </div>

  <div class="user-property">
    <strong>Article:</strong>
    <%= simple_format(@blog.article) %>
  </div>
</div>

<div class="move-btn">
  <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-sm btn-outline-dark' %>
  <%= link_to 'Back', blogs_path, class: 'btn btn-sm btn-outline-dark' %>
</div>
