<div class="blog-detail">

  <% unless @blog.user == current_user %>
    <% if @blog.favorites.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(@blog.favorites, blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-default' %>
    <% end %>
  <% end %>

  <div class="user-property">
    <strong>Name:</strong>
    <%= @blog.name %>
  </div>

  <div class="user-property">
    <strong>Article:</strong>
    <%= simple_format(@blog.article) %>
  </div>
  <h4> comments </h4>

  <%= form_for @comment, url: { controller: 'comment', action: 'create' } do |f| %>
    <%= f.hidden_field :blog_id, :value => @blog.id %>
    <div>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit 'Post comment', class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="move-btn">
    <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-sm btn-outline-dark' %>
    <%= link_to 'Back', blogs_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>

  <div id="comments-entry">
    <% @blog.comments.each do |comment| %>
      <div id="each-comment">
        <div id="margin-btwn-email-and-comment">
          <span> email [</span>
          <%= comment.user.email %>
          <span>]</span>
          <%= link_to 'Edit', edit_comment_path(comment.id), class: 'btn btn-info btn-sm' %> |
          <%= link_to 'Destroy', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </div>
        <div>
          <%= comment.content %>
        </div>
      </div>
    <% end %>
  </div>

</div>
