<table>
  <thead>
  <tr>
    <th>name</th>
    <th>email</th>
    <th>detail</th>
    <th>follow</th>
  </tr>
  </thead>
  <tbody>
  <% users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'show', user_list_url(user.id), class: "btn btn-info btn-sm" %></td>
      <% if current_user.is_following?(user) %>
        <td><%= link_to 'unfollow', user_list_url(user.id), method: :delete, class: "btn btn-info btn-sm" %></td>
      <% else %>
        <td><%= link_to 'follow', user_list_index_url(id: user.id), method: :post, class: "btn btn-info btn-sm" %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate users %>
