<%#binding.pry %>

<%= form_for @inquiry, url: { action: 'create' } do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :mail_address %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :content %>

  <table>
    <tr>
      <th><%= f.label "名前", { style: "display: inline-block;" } %></th>
      <th><%= @inquiry.name %></th>
    </tr>
    <tr>
      <th><%= f.label "メールアドレス", { style: "display: inline-block;" } %></th>
      <th><%= @inquiry.mail_address %></th>
    </tr>
    <tr>
      <th><%= f.label "カテゴリー", { style: "display: inline-block;" } %></th>
      <th><%= @inquiry.get_category %></th>
    </tr>
    <tr>
      <th><%= f.label "内容", { style: "display: inline-block;" } %></th>
      <th><%= @inquiry.content %></th>
    </tr>
    <br>
  </table>

  <div class="actions">
    <%= f.submit '戻る', name: 'back' %>
    <%= f.submit '送信' %>
  </div>

<% end %>