<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <h1 id="header_title">
    <a href="/">ACHIEVE</a>
  </h1>
  <nav class="pc-nav">
    <ul id="unordered-list">
      <li><%= link_to 'TOP', root_path, id: "anchor" %></li>
      <li><%= link_to 'BLOGS', blogs_path, id: "anchor" %></li>
      <li><%= link_to 'SETTINGS', edit_user_registration_path, id: "anchor" %></li>
      <li><%= link_to 'USERS', user_list_index_path, id: "anchor" %></li>
      <li><%= link_to 'INQUIRY', new_inquiry_path, id: "anchor" %></li>
    </ul>
  </nav>
</header>

<body>
<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>
<%= yield %>
</body>

<footer>
  <h1 id="footer_title">
    <a href="/">top</a>
  </h1>
</footer>

</html>
